<h1>Chat</h1>
<hr>

<div class="app-mensajes" id="app-mensajes">
  <div class="text-end" *ngFor="let chat of _cs.chats">
    <span class="badge bg-primary">Jhonnatan</span>
    <p>
      {{chat.mensaje}}
    </p>
  </div>

  <!-- <div>
    <span class="badge bg-success">Meli</span>
    <p>
      Hola Jho
    </p>
  </div> -->

</div>

<input type="text" name="mensaje"
       [(ngModel)]="mensaje"
       (keyup.enter)="enviar_mensaje()"
       class="form-control"
       placeholder="Enviar mensaje">
